.commentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap; 
    margin-top: 20px;
    align-items: center;
}

.editDelete {
    display: flex;
    padding: 5px;
    margin-bottom: 20px;
}

.getComments {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
}

.commentUser {
    padding: 10px;
    font-weight: bolder;
    color: black;
    align-items: center;
}