.commentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap; 
    margin-top: 20px;
    align-items: center;
}
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 3px solid lightgray;
    margin-top: 100px;
}

/* .comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 44.4%;
    padding: 10px;
    flex-wrap: wrap;
} */

.editDelete {
    display: flex;
    padding: 5px;
    margin-bottom: 20px;
}

.getComments {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
}

.commentUser {
    /* margin-bottom: 20px;
     */
     padding: 10px;
    font-weight: bolder;
    color: black;
    align-items: center;
}