.songsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 3px solid gray;
    background-color: rgba(255, 255, 255, 0.091);
    margin-top: 100px;
}



.img {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
}

.pad {
    margin-top: 20px;
    padding: 15px;
}



.songLink {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.button {
    display: flex;
    float: right;

}

