.songsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 3px solid lightgray;
    background-color: rgba(255, 255, 255, 0.091);
    /* background-color: black; */
    margin-top: 100px;
}

/* body {
    background-color: rgb(203, 133, 29);
} */

/* .songContainer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
} */

.img {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
}

.pad {
    margin-top: 20px;
    padding: 15px;
}

/* .song {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;

} */

.songLink {
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: bolder;
}

.button {
    display: flex;
    /* justify-content: end; */
    float: right;
    /* margin-top: 28px; */

}

/* #link {
    display: flex;
    justify-content: space-evenly;
} */