.img {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
}


.songContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 3px solid lightgray;
    margin-top: 100px;
    /* margin-left: 50%;
    margin-right: 50%; */
}

.commentSection {
    display: flex;
    justify-content: center;
    /* width: 900px; */
}