.imgSingle {
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 10px;
}


.songContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 3px solid gray;
    margin-top: 100px;
}

.commentSection {
    display: flex;
    justify-content: center;
}

.description {
    padding: 20px;
}